
@using System.Data
@model DataTable

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Administrator</title>
    <style>
        #logout {
            float: right;
            margin-right: 1%;
        }
        .insert{
           margin-top:1%;
        }
    </style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <h3> Benvenuto nella sezione dell'amministratore</h3>

    <div class="container">
        <button id="logout" type="submit" class="btn btn-info" onclick="location.href='/Administrator/logout'">Logout</button>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Username</th>
                    <th scope="col">Abilitato</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["Nome"].ToString()</td>
                        <td>@dr["Cognome"].ToString()</td>
                        <td>@dr["username"].ToString()</td>
                        @if (dr["Abilitato"].ToString() == "1")
                        {
                            <td> Sì</td>
                        }
                        else
                        {
                            <td>No </td>
                        }


                        <td><button type="submit" onclick="location.href ='/Administrator/Reset?username=@dr["username"].ToString()'" class="btn btn-warning">Reset Password</button></td>
                        <td><button type="submit" onclick="location.href ='/Administrator/DeleteUser?username=@dr["username"].ToString()'" class="btn btn-danger">Disabilita Utente</button></td>
                        <td><button type="submit" onclick="location.href ='/Administrator/Enable?username=@dr["username"].ToString()'" class="btn btn-success">Abilita Utente</button></td>
                    </tr>
                }


            </tbody>

        </table>
    </div>

    <div class="container">
        <button type="button" class="btn btn-info">Vedi Log Del Sito</button>
    </div>
    <div class="container insert" id="show">
        <button type="button" class="btn btn-dark" id="newUser"> Inserisci Nuovo Utente</button>
    </div>

    <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

        </div>
    </div>
  
    <script>
        $("#show").on("click","#newUser", function () {
            $.ajax({
                url: "/Administrator/New",
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                },
                error: function () {
                    alert("Internal Error!!");
                }
            });
        });
    </script>
</body>
</html>