@model WebAppMupin.Models.Reperti.Periferica


<h4 id="title"> Inserimento nuovo Periferica</h4>
<h6>I campi contrassegnati da * sono obbligatori</h6>

<form id="form" enctype="multipart/form-data" action="@Url.Action("InsertPeriferica","Insert")">
    <label for="Identificativo"> Identificativo (*) </label>
    @Html.TextBoxFor(p => p.Identificativo)
    <br />
    <hr />
    <label for="nomeModello" > Nome modello (*) </label>
    @Html.TextBoxFor(p => p.nomeModello)
    <br />
    <hr />
    <label for="Tipologia"> tipo di periferica (*) </label>
    @Html.TextBoxFor(p => p.Tipologia)
    <br />
    <hr />
</form>
