
@model WebAppMupin.Models.Reperti.RepertoDetail
  <!-- Modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Dettagli reperto @Model.Id</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style=" text-align: center;">
                    <h6> Immagine</h6>
                    @if (Model.Immagine.Length > 0)
                    {
                    <img style="width:25%; height: 25%;" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Immagine, 0, Model.Immagine.Length))" alt="immagineoo">
                    }
                    <h6>Note:</h6>
                    @if (Model.Note.Length > 0)
                    {
                    <p>@Model.Note.ToString() </p>  
                    }
                    @if (Model.Url.Length >0)
                    {
                    <p><a href="http://@Model.Url">URL</a></p>
                    }
                    <h6> tag</h6>
                    @if (Model.Tag.Length >0)
                    {
                    <p> @Model.Tag.ToString()</p>
                    }
                </div>
            </div>