@model System.Collections.Generic.List<string>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            text-align: center;
        }
        .back{
            float:left;
        }
        #main{
            margin-top:5%;
        }
        button{
            margin:1%;
        }
    </style>
    <title>Inserimento nuovo reperto</title>
</head>
<body>
    <div class="container" id="container">
        @foreach (string s in Model)
        {
            <button type="submit" class="btn btn-info" onclick="getSelected('@s.ToString()')">@s.ToString()</button>
        }
    </div>

    <div class="back">
        <button type="submit" class="btn btn-dark" onclick="location.href='/User/'"> back </button>
    </div>
    <form>
        <div id="main">


        </div>
    </form>

    <button type="button" id="AddDetail" class="btn btn-info"> <i class="bi bi-plus-square"></i> Dettagli</button>
    <button type="button" id="hideDetail" class="btn btn-danger" style="float:right"><i class="bi bi-dash-square"> Mostra meno </i></button>
    <form enctype="multipart/form-data">
        <div id="insertDetail">

        </div>
    </form>

    <button type="button" id="submitInsert" class="btn btn-warning"> Inserisci</button>

    <script src="~/MyScript/insertReperto.js"></script>
</body>
</html>

