@model System.Collections.Generic.List<string>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            text-align: center;
        }
        .back{
            float:left;
        }
    </style>
    <title>Inserimento nuovo reperto</title>
</head>
<body>
    <div class="container" id="container">
        @foreach (string s in Model)
        {
            <button type="button" class="btn btn-info" onclick="getSelected('@s.ToString()')">@s.ToString()</button>
        }
    </div>

    <div class="back">
        <button type="submit" class="btn btn-dark"  onclick="location.href='/User/'"> back </button>
    </div>
    <script>
        function getSelected(btn) {
            console.log(btn);

            $.ajax({
                url: "/User/Insert",
                data: { ins: btn },
                error: function () {
                    alert("Internal Error ");
                }
            });
        }


       
  
    </script>
</body>

</html>

