@using System.Data
@model DataTable

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizzazione reperti</title>
</head>
<body>
    <button type="submit" id="back" class="btn btn-warning" onclick="location.href='/User/Index'">Indietro</button>
    <div>
        <p> @Model.Columns["categoria"].DefaultValue</p>
    </div>
    <table class="table table-striped" id="showtable">
        <thead>
            <tr>
                @foreach (DataColumn dataColumn in Model.Columns)
                {
                    if (dataColumn.ToString()!="categoria")
                    {
                        <th scope="col">@dataColumn.ToString()</th>
                    }

                }
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow data in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn dataColumn in Model.Columns)
                    {
                        if (dataColumn.ToString() != "categoria")
                        {
                        <td>@data[dataColumn].ToString()</td>
                        }
                    }
                    <td>   <button type="button" id="viewBtn" class="btn btn-info"> Vedi Dettagli </button> </td>
                    @if (Session["utente"] != null)
                    {
                        <td><button type="button" class="btn btn-warning"> Modifica </button></td>
                        <td><button type="button" class="btn btn-del btn-danger"> Elimina </button> </td>
                    }
                </tr>

            }

        </tbody>
    </table>
    <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $("#showtable").on("click", "#viewBtn", function () {
            let id = $(this).closest("tr").find("td").eq(0).html();
            $.ajax({
                url: "/User/Detail",
                data: { dt: id },
                success: function (data) {
                    $("#showmodal .modal-dialog").html(data);
                    $("#showmodal").modal("show");
                },
                error: function ()
                {
                    alert("No Detail Found");
            }
            });
        });

        $(".btn-del").on("click", function () {
            if (confirm("Procedere con l'eliminazione?")) {
                let id = $(this).closest("tr").find("td").eq(0).html();
                let tabella = ;
                $.ajax({
                    url: "/User/Delete",
                    type: 'GET',
                    data: {
                        del: id,
                        tab: tabella
                    },
                    error: function () {
                        alert('Errore impossibile eliminare');
                    },
                    success: function (data) {
                        alert("Eliminazione eseguita con successo");
                        location.reload();
                    }
                })
            }
        });
    </script>
</body>
</html>

