@using System.Data
@model DataTable
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizzazione reperti</title>
</head>
<body>
    <button type="submit" id="back" class="btn btn-warning" onclick="location.href='/User/Index'">Indietro</button>
    <div>

    </div>
    <table class="table table-striped" id="showtable">
        <thead>
            <tr>
                @foreach (DataColumn dataColumn in Model.Columns)
                {
                    if (dataColumn.ToString()!="categoria")
                    {
                        <th scope="col">@dataColumn.ToString()</th>
                    }

                }
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow data in Model.Rows)
            {
            <tr>
                @foreach (DataColumn dataColumn in Model.Columns)
                {
                    if (dataColumn.ToString() != "categoria")
                    {
                        <td>@data[dataColumn].ToString()</td>
                    }
                }
                <td>   <button type="button" id="viewBtn" class="btn btn-info"> Vedi Dettagli </button> </td>
                @if (Session["utente"] != null)
                {
                    <td><button type="button" id="modifica" class="btn modifica btn-warning"> Modifica </button></td>
                    <td><button type="button" class="btn btn-del btn-danger"> Elimina </button> </td>
                }
            </tr>

            }

        </tbody>
    </table>
    <div id="showmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

        </div>
    </div>

    <script src="~/MyScript/reperti.js"></script>
</body>
</html>

