@using System.Data
@model DataTable

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizzazione reperti</title>
</head>
<body>
    <button type="submit" id="back" class="btn btn-warning" onclick="location.href='/User/Index'">Indietro</button>

    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (DataColumn dataColumn in Model.Columns)
                {
                    <th scope="col">@dataColumn.ToString()</th>
                }
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow data in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn dataColumn in Model.Columns)
                    {
                        <td>@data[dataColumn].ToString()</td>
                    }
                <td>   <button type="button" onclick="location.href='/User/Detail?dt=@data["Identificativo"]'" class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Vedi Dettagli </button> </td>
                    @if (Session["utente"] != null)
                {
                    <td><button type="button"  class="btn btn-warning"> Modifica </button></td>
                    <td><button type="button" class="btn btn-danger"> Elimina </button> </td>
                }
                </tr>

            }

        </tbody>
    </table>
</body>
</html>

